* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

body {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 499px;
  width: 340px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 1rem;
  align-items: center;
}

.image-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  margin: 1.5rem 0 0.5rem 0;
}

.container-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  width: 100%;
  margin: 1rem;
  justify-content: space-around;
  height: 100%;
}

h1 {
  font-size: 1.3rem;
  font-weight: 400;
  justify-self: center;
}

h2 {
  font-size: 0.75rem;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  justify-self: center;
}

h3 {
  font-size: 0.8rem;
  font-weight: 400;
}

button {
  border-radius: 0.5rem;
  width: 100%;
  height: 2.5rem;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 0%);
}
